{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "plugins": ["./node_modules/@prettier/plugin-php"],
  "overrides": [
    {
      "files": ["*.html", "*.blade.php"],
      "options": {
        "parser": "html",
        "plugins": ["./node_modules/prettier-plugin-tailwindcss"]
      }
    },
    {
      "files": ["*.php"],
      "options": {
        "parser": "php",
        "plugins": ["./node_modules/@prettier/plugin-php"],
        "tabWidth": 4
      }
    }
  ]
}
